.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  margin-top: 34px;
}

@media screen and (max-width: 544px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 188px;
    max-height: 52px;
  }
  .header__logo {
    margin-top: 20px;
    object-fit: scale-down;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 254px;
    max-height: 66px;
  }
  .header__logo {
    margin-top: 30px;
    object-fit: scale-down;
  }
}
